{% extends 'blog/base.html' %}
{% load blog_extras %}
{% load comments_extras %}
{% load static %}

{# 正文 #}
{% block main %}
    <main class="col-md-9">
        <article class="post post-1">
            {# 文章头 #}
            <header class="entry-header">
                <h1 class="entry-title">{{ post.title }}</h1>
                <div class="entry-meta">
                    <span class="post-category"><a
                            href="{% url 'blog:category' post.category.id %}">{{ post.category.name }}</a></span>
                    <span class="post-date"><a
                            href="{% url 'blog:archive' post.created_time.year post.created_time.month %}"><time
                            class="entry-date"
                            datetime="{{ post.created_time }}">{{ post.created_time }}</time></a></span>
                    <span class="comments-link"><a href="#comment-area"> {{ post.comment_set.count }} 评论</a></span>
                    <span class="views-count"> -1 阅读</span>
                </div>
            </header>
            {# 文章内容 #}
            <div class="entry-content clearfix">
                {{ post.body|safe }}
            </div>
        </article>

        <section class="comment-area" id="comment-area">
            <hr>
            <h3>发表评论</h3>

            {% show_comment_form post %}

            <div class="comment-list-panel" id="comment-area">
                {% show_comments post %}
            </div>
        </section>
    </main>
{% endblock %}

{# 侧边栏 #}
{% block aside %}
    <aside class="col-md-3">
        <div class="widget widget-content">
            <h3 class="widget-title">文章目录</h3>
            {{ post.toc|safe }}
        </div>

        {% show_recent_posts %}
        {% show_archives %}
        {% show_categories %}
        {% show_tags %}

        <!--
        <div class="rss">
            <a href=""><span class="ion-social-rss-outline"></span> RSS 订阅</a>
        </div>
        -->
    </aside>
{% endblock %}