{% extends 'blog/base.html' %}

{# 正文 #}
{% block main %}
    <div class="col-md-8">
        <a class="btn btn-default" href="{% url 'blog:index' %}">返回主页</a>
        <table class="table table-hover">
            <thead>
            <th>#</th>
            <th>类别</th>
            </thead>
            <tbody>
            {% for category in categorys %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{% url 'wiki:detail' cid=category.id %}">{{ category.name }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock main %}